@model ZarlokMvc.Models.LocalPasswordModel

<h3>Zmiana hasła</h3>
<br />
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <table><tr>
            <td><div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)</div></td>
            <td><div class="editor-field">
                @Html.TextBoxFor(m => m.OldPassword)</div></td></tr>
            <tr>
            <td><div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)</div></td>
            <td><div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)</div></td></tr>
            <tr>
            <td><div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)</div></td>
            <td><div class="editor-field">
                @Html.TextBoxFor(m => m.ConfirmPassword)</div></td></tr>
        </table>
            <br />
            <p><input type="submit" value="Zapisz" class="btn btn-info" />
            </p>
        </fieldset>
}
