@model ZarlokMvc.ViewModels.AchievementViewModel

@{
    ViewBag.Title = "Edytuj osiągnięcie";
}

<h2>Edytuj osiągnięcie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        <form role="form">
            <div class="form-group">
                @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </form>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
