@model IEnumerable<ZarlokMvc.Models.Eaten>

@{
    ViewBag.Title = "Historia jedzenia";
}

<h2>Historia jedzenia</h2>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("user"))
    {
        <p>
            <h4>@Html.ActionLink("Dodaj nowe jedzenie do historii", "CreateEaten")</h4>
        </p>
    }
}
<br />
@if(!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="well">@ViewBag.Error</div>
}
else
{
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/highcharts.js"></script>
    
    <script type="text/javascript">
        dataArray = [
            @foreach (var item in Model) {
                <text>[Date.UTC(@item.date.Value.Year, @item.date.Value.Month, @item.date.Value.Day), @item.Food.calories],</text>
            }
        ];

        newDataArray = []

        current = 0;

        for(i=0; i<dataArray.length; i++){
            newDataArray.push(dataArray[i]); 

            if(i+1<dataArray.length){
                j = i+1;

                while((new Date(dataArray[i][0])).getDate() == (new Date(dataArray[j][0])).getDate()){
                    newDataArray[current][1] += dataArray[j][1];
                    
                    j++;

                    if(j>=dataArray.length) 
                        break;
                }
                i = j;
            }
            current++;
        }

        newDataArray = newDataArray.reverse();
        
          $('#container').highcharts({
            title: {
                text: 'Wykres kalorii użytkownika'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Data'
                }
            },
            yAxis: {
                title: {
                    text: 'Ilość kalori zjedzonych danego dnia'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            },

            series: [{
                name : 'Kalorie',
                data: newDataArray,
            },]
       });
    </script> 
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food.calories)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.name)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Food.calories)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "DeleteEaten", "Eaten", new { id = item.id }, new { @class = "glyphicon glyphicon glyphicon-remove-circle btn btn-danger", @title="Usuń" })
                    </td>
                </tr>
            }
        </tbody>
    </table>   
}
